HELP.md
.gradle
build/
volumes/

!volumes/pgmaster/postgresql.conf
!volumes/pgmaster/pg_hba.conf
!volumes/pgslave1/postgresql.conf
!volumes/pgslave1/pg_hba.conf
!volumes/pgslave1/standby.signal
!volumes/pgslave2/postgresql.conf
!volumes/pgslave2/pg_hba.conf
!volumes/pgslave2/standby.signal

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/.DS_Store
src/.DS_Store
.DS_Store
*.DS_Store
**/.DS_Store
